<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <a class="navbar-brand" href="/urls">TINY APP</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/urls">My URLs</a>
        <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
        <a class="nav-item nav-link" href="/register">Register</a>
      </div>
    </div>
    
    
    <% if(user){ %>
    <div class="username-class mr-3"> 
    <label> Logged in as: </label>
    <%=user.email%> </div>  <form method="POST" action="/logout"> 
    <button type="Submit" class="btn btn-primary" > Logout </button></form>
    <% } else{ %>  
      <form method="POST" action="/login"> <input name="username"/> <button type="Submit" class="btn btn-primary" placeholder="username"> Login</button></form>
   <% } %>

   </nav>
</header>